# Slicing

In [1]:
a = [22,33,44,11,77,88,99,111,222,3333,444,555,666]
a[1]

33

In [2]:
a[:5]

[22, 33, 44, 11, 77]

In [3]:
a[2:7:2]

[44, 77, 99]

# Tupples

In [10]:
t  = ("nasir", "asad", 3434)
# packing

In [11]:
t

('nasir', 'asad', 3434)

In [12]:
type(t)

tuple

In [13]:
# tupples are immutable

In [2]:
t[1]="asad"

NameError: name 't' is not defined

In [19]:
del t[0]

TypeError: 'tuple' object doesn't support item deletion

In [20]:
a,b,c =t
#unpacking

In [21]:
a

'nasir'

In [22]:
b

'asad'

In [23]:
c

3434

In [24]:
a= "rehan"

In [25]:
a

'rehan'

In [33]:
listt= ["dad","alfa"]
alist = listt+listt
alist

['dad', 'alfa', 'dad', 'alfa']

In [27]:
x,y = listt

In [28]:
x

'dad'

In [29]:
y

'alfa'

In [30]:
s = t + t

In [31]:
s

('nasir', 'asad', 3434, 'nasir', 'asad', 3434)

In [34]:
q = t +s[1:4]

In [35]:
q

('nasir', 'asad', 3434, 'asad', 3434, 'nasir')

# loopings
for loop & 
while loop

In [36]:
students = ["ali", "shahzad", "hamza" ]
print(students)

['ali', 'shahzad', 'hamza']

In [37]:
for student in students:
    print(student)

ali
shahzad
hamza

In [39]:
for a in range(10):
    print(a, end=" ")

0 1 2 3 4 5 6 7 8 9

In [43]:
for a in range(0,10,2): #3rd parameter is called step value
    print(a, end=" ")

0 2 4 6 8

In [44]:
for a in range(1,10,2): #3rd parameter is called step value
    print(a, end=" ")

1 3 5 7 9

In [45]:
for a in range(10,0,-1): #3rd parameter is called step value
    print(a, end=" ")

10 9 8 7 6 5 4 3 2 1

In [1]:
for a in range(1,10,-1): #3rd parameter is called step value
    print(a, end=" ")

In [49]:
table =int(input("Enter table number"))
for num in range(1,11):
        
    print(f"{table} * {num} = {table*num}")

Enter table number3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15

In [2]:
table =int(input("Enter table number"))
for num in range(1,11):
    if num==5:
        break
        
    print(f"{table} * {num} = {table*num}")

Enter table number4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16

In [4]:
table =int(input("Enter table number"))
r = int(input("enter table range"))

for num in range(1,r+1):
    if num==5:
        continue        
    print(f"{table} * {num} = {table*num}")

Enter table number6
enter table range9
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

In [8]:
first_names = ["a ", "b ", "c "]
last_names = ["1", "2", "3", "4"]
full_names = []

for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " +a_last_name)
full_names

['a  1',
 'a  2',
 'a  3',
 'a  4',
 'b  1',
 'b  2',
 'b  3',
 'b  4',
 'c  1',
 'c  2',
 'c  3',
 'c  4']

In [11]:
table_numbers = int(input("enter table range"))

for table_number in range(2,table_numbers+1):
    
    for num in range(1,11):
        
        print(f"{table_number} * {num} = {table_number*num}")

enter table range6
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [ ]:
x = int(input("Enter  range if it: "))
for x in range(2,x+1):
    for num in range(1,11):
        print(f"{x} * {num} = {x*num} \n")

In [6]:
def abc():
    a = 5
    a=6.4
    print(a)

In [7]:
abc()

6.4