In [20]:
athar = ["H","E","L","L","O"]

In [21]:
athar[0]="world"
athar[0]

'world'

In [22]:
del athar[0] # delete krna index k zariye

In [23]:
athar[0]

'E'

In [24]:
athar.append("hello") #add krwana hamesha last mn

In [25]:
athar

['E', 'L', 'L', 'O', 'hello']

In [26]:
athar.insert(0,"world") # where and what
athar                   # kahan aur kia daalna hai

['world', 'E', 'L', 'L', 'O', 'hello']

In [27]:
athar.remove("hello") # value remove kr dega value k zariye

In [28]:
athar

['world', 'E', 'L', 'L', 'O']

In [29]:
atharr=[11,22,33,44]
atharr.clear() #list khali krdega

In [30]:
atharr

[]

In [32]:
list = [1,2,3,4,5,6,1,4,3,23,53,2,4,]
list.count(1) # 1 kitni bar exist krta hai list me
list.count(4)

3

In [34]:
list.sort() #ascending order
list

[1, 1, 2, 2, 3, 3, 4, 4, 4, 5, 6, 23, 53]

In [36]:
list.sort(reverse=True)
list # descending order

[53, 23, 6, 5, 4, 4, 4, 3, 3, 2, 2, 1, 1]

In [37]:
list2 = list.copy() #copy krna
list2 #pass by value

[53, 23, 6, 5, 4, 4, 4, 3, 3, 2, 2, 1, 1]

In [38]:
list3 = list2
list3
# pass by reference

[53, 23, 6, 5, 4, 4, 4, 3, 3, 2, 2, 1, 1]

In [39]:
list4 = list2[:] #pass by values # alag cheez ban gayi address follow ni kr rha

In [2]:
# list k andar list ko rakhna
listinlist = [11,22,33,["hello","world","cs","world"]]
listinlist[3]

['hello', 'world', 'cs', 'world']

In [46]:
listinlist[3][2] # list k index k andar list ka index

'cs'

In [48]:
del listinlist[3][3]
listinlist

[11, 22, 33, ['hello', 'world', 'cs']]

In [52]:
x = ["athar","hj","jhgjg"]
x[0][2]
x #practice

['athar', 'hj', 'jhgjg']

In [53]:
#slicing
listslicing = [2,3,4,5,6,7,8,9,11,12,14]
listslicing[2:6] # index 2 sy 6 tk ki values print krwao
# ye hamesha -1 tk jaega, exact end tk jane k liye +1 tk index lejao

[4, 5, 6, 7]

In [57]:
listslicing[4:11]

[6, 7, 8, 9, 11, 12, 14]

In [74]:
mm = [1,2,3,4,["athar","hello","world","cs","world"]]
mm[4].remove("cs")
mm[4].insert(1,"hh")

In [75]:
mm

[1, 2, 3, 4, ['athar', 'hh', 'hello', 'world', 'world']]

In [47]:
new =     [1,  2, 3 ,4 ,5, 6 ,7 ,8, 9]
# reverse [-9,-8,-7 -6 -5 -4 -3 -2 -1] # left to right tk chalega hamesha

In [48]:
new[-5:-1]

[5, 6, 7, 8]

In [52]:
new[-7:] # wahan sy aaagy sb le ao

[1, 2, 3, 4, 5, 6, 7]

In [53]:
# popping elements!!
# ek member kam krta jeaga har use pr
neww = new.pop() # new sy neww mn lejarha
neww

7

In [51]:

neww = new.pop()
neww.append(neww)

AttributeError: 'int' object has no attribute 'append'

In [106]:
print(new)

NameError: name 'pop' is not defined

In [34]:
x = int(input("Enter fucking number: "))
for a in range(x+1):
    if a==0:
        continue
    elif (a%2==0):
        print(f"{a} = Even!!")
    else:
        print(f"{a} = ODD!!")

Enter fucking number: 20
1 = ODD!!
2 = Even!!
3 = ODD!!
4 = Even!!
5 = ODD!!
6 = Even!!
7 = ODD!!
8 = Even!!
9 = ODD!!
10 = Even!!
11 = ODD!!
12 = Even!!
13 = ODD!!
14 = Even!!
15 = ODD!!
16 = Even!!
17 = ODD!!
18 = Even!!
19 = ODD!!
20 = Even!!

In [2]:
name = input("Enter Name: ")
password = input("Enter Your Password: ")
if name == "Athar" and password =="12345":
    print("Welcome to Python")
else:
    print("\n\n Invalid ID")

Enter Name: Athar
Enter Your Password: 23


 Invalid ID

In [5]:
name = input("Enter Name: ")
password = input("Enter Your Password: ")
if name == "Athar" and password =="12345":
    print("\n\n Welcome to Python")
else:
    print("\n\n Invalid ID")

Enter Name: Athar
Enter Your Password: 12345


 Welcome to Python