# module making

In [1]:
# hello.py

# Define a function
def world():
    print("Hello, World!")

In [2]:
# main_program.py

# Import hello module
import hello


# Call function
hello.world()

ModuleNotFoundError: No module named 'hello'

In [ ]:
$ python main_program.py

In [3]:
# hello.py

# Define a function
def world():
    print("Hello, World!")

# Define a variable
shark = "Sammy"

In [4]:
# main

# Import hello module
import hello


# Call function
hello.world()

# Print variable
print(hello.shark)

ModuleNotFoundError: No module named 'hello'

In [5]:
# hello.py 


# Define a function
def world():
    print("Hello, World!")

# Define a variable
shark = "Sammy"


# Define a class
class Octopus:
    def __init__(self, name, color):
        self.color = color
        self.name = name

    def tell_me_about_the_octopus(self):
        print("This octopus is " + self.color + ".")
        print(self.name + " is the octopus's name.")

In [6]:
# main 

# Import hello module
import hello


# Call function
hello.world()

# Print variable
print(hello.shark)

# Call class
jesse = hello.Octopus("Jesse", "orange")
jesse.tell_me_about_the_octopus()

ModuleNotFoundError: No module named 'hello'

In [7]:
# hello.py


# Define a function
def world():
    print("Hello, World!")

# Call function within module
world()

Hello, World!

In [8]:
# main

# Import hello module
import hello

ModuleNotFoundError: No module named 'hello'

# list comprehension

In [9]:
list_variable = [element for element in 'list or string']

In [6]:
[letter for letter in 'shark' if letter != 'a']

['s', 'h', 'r', 'k']

In [7]:
num = []
for x in range(1, 11):
    num.append(x)
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
shark_letters = []

for letter in 'shark':
    if letter == 'a':
        continue
        
    shark_letters.append(letter)

print(shark_letters)

['s', 'h', 'a', 'r', 'k']

In [33]:
fish_tuple = ('blowfish', 'clownfish', 'catfish', 'octopus')

fish_list = [fish for fish in fish_tuple if fish != 'octopus']
print(fish_list)

['blowfish', 'clownfish', 'catfish']

In [34]:
# mathematical operators, integers, and the range() sequence type.

number_list = [x ** 2 for x in range(10) if x % 2 == 0]
print(number_list)

[0, 4, 16, 36, 64]

In [8]:
number_list = [x for x in range(1,11)]
print(number_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
for x in range(1,11):
    print(f" 5 * {x}= {x * 5}")

 5 * 1= 5
 5 * 2= 10
 5 * 3= 15
 5 * 4= 20
 5 * 5= 25
 5 * 6= 30
 5 * 7= 35
 5 * 8= 40
 5 * 9= 45
 5 * 10= 50

In [12]:
[(f"point ",x,y) for x in range(1,11) for y in range(0,12,2)]

[('point ', 1, 0),
 ('point ', 1, 2),
 ('point ', 1, 4),
 ('point ', 1, 6),
 ('point ', 1, 8),
 ('point ', 1, 10),
 ('point ', 2, 0),
 ('point ', 2, 2),
 ('point ', 2, 4),
 ('point ', 2, 6),
 ('point ', 2, 8),
 ('point ', 2, 10),
 ('point ', 3, 0),
 ('point ', 3, 2),
 ('point ', 3, 4),
 ('point ', 3, 6),
 ('point ', 3, 8),
 ('point ', 3, 10),
 ('point ', 4, 0),
 ('point ', 4, 2),
 ('point ', 4, 4),
 ('point ', 4, 6),
 ('point ', 4, 8),
 ('point ', 4, 10),
 ('point ', 5, 0),
 ('point ', 5, 2),
 ('point ', 5, 4),
 ('point ', 5, 6),
 ('point ', 5, 8),
 ('point ', 5, 10),
 ('point ', 6, 0),
 ('point ', 6, 2),
 ('point ', 6, 4),
 ('point ', 6, 6),
 ('point ', 6, 8),
 ('point ', 6, 10),
 ('point ', 7, 0),
 ('point ', 7, 2),
 ('point ', 7, 4),
 ('point ', 7, 6),
 ('point ', 7, 8),
 ('point ', 7, 10),
 ('point ', 8, 0),
 ('point ', 8, 2),
 ('point ', 8, 4),
 ('point ', 8, 6),
 ('point ', 8, 8),
 ('point ', 8, 10),
 ('point ', 9, 0),
 ('point ', 9, 2),
 ('point ', 9, 4),
 ('point ', 9, 6),
 ('point ', 9, 8),
 ('point ', 9, 10),
 ('point ', 10, 0),
 ('point ', 10, 2),
 ('point ', 10, 4),
 ('point ', 10, 6),
 ('point ', 10, 8),
 ('point ', 10, 10)]

# Random Numbers

In [15]:
from random import *

In [16]:
# random()  -values b/w 0 and 1
# randint(start, end) -int values b/w s and end
# uniform(s , e) -float values b/w s and end.
# shuffle(list) --> print(list) --> shuffled list

In [17]:
# to print float between 0 and 1
print(random())

0.3201610533854511

In [18]:
print(random())

0.7916092623644235

In [30]:
# to print random integer
# randint function takes two positional arguments i.e. starting value , limiting value
print(randint(1,100))
print(randint(2,3))
# to store random integer in a variable
rand_int = randint(1,100)
print(rand_int)

16
2
96

In [35]:
float_val = uniform(1,10) 
float_val

3.5064721895600957

In [4]:
# to generate float random numbers
# like randint, uniform functions takes two positional arguments
print(uniform(1,1))  # will always give answer 1.0 in answer

# to print completely random float numbers
print(uniform(1,10))

# random float number in varible
rand_float = uniform(1,10)
print(rand_float)

1.0
6.342742155219641
3.6105041726978997

In [22]:
uniform(1,10)

7.610831964610607

In [49]:
# shuffle items cannot be placed in a variable
items = [1,2,3,4,5,6,7,8,9]

shuffle(items)
print(items)

shuffle_items = shuffle(items) # will not work for variables
print(shuffle_items)

[3, 9, 4, 6, 5, 8, 7, 2, 1]
None

In [60]:
lst = [x for x in range(1,11)]
shuffle(lst)
print(lst)
pp = ["athar","bhai bhai" , "acha bhai"]
shuffle(pp)
print(pp)

[2, 3, 1, 10, 7, 5, 4, 8, 6, 9]
['athar', 'bhai bhai', 'acha bhai']

In [69]:
# to randomly draw a number from the list
# sample is used to place random list value(s) in a variable
 
# to pick 1 random value as list 
print(sample(items, 1))

# to pick 4 random values as list
print(sample(items, 4))

# variable for random list value as value (not list)
rand_sample_ls = sample(items, 1)
print(rand_sample_ls[0]) 

# variable for random list values (slicing won't work for more than 1)
rand_sample_ls_2 = sample(items, 4)
print(rand_sample_ls_2)

[6]
[9, 6, 8, 2]
1
[4, 8, 6, 9]

In [70]:
lst = [x for x in range(1,11)]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [79]:
sample(lst,3)

[7, 8, 5]

In [37]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [62]:
luckydrawapplicants = ["Muhammad", "Ali", "Rashid", "Hussain"]

In [90]:
winner = sample(luckydrawapplicants, 1)
winner

['Ali']

In [105]:
x = ["athar", "rasool","dahani","balouch"]
sample(x,2)

['rasool', 'balouch']

In [7]:
# to randomly draw a string from the list
# sample is used to place random list value(s) in a variable

# hypothetical list of strings
names = ["Muhammad", "Ali", "Rashid", "Hussain"]
# to pick 1 random value as list 
print(sample(names, 1))

# to pick 4 random values as list
print(sample(names, 4))

# variable for random list value as value (not list)
rand_sample_ls = sample(names, 1)
print(rand_sample_ls[0]) 

# variable for random list values (slicing won't work for more than 1)
rand_sample_ls_2 = sample(names, 4)
print(rand_sample_ls_2)

['Muhammad']
['Hussain', 'Ali', 'Muhammad', 'Rashid']
Muhammad
['Muhammad', 'Hussain', 'Ali', 'Rashid']

# Docstring

In [43]:
# print(function.__doc__) prints ONLY triple quoted docstrings defined in the function
#help first prints Help on function name in module __main__: 
#help(function) will print function(argument) with triple quoted txt
# good practice: don't give line space niether before nor after the docstring

 
def square(a):
    """Returns argument a is squared."""
    return a**2

In [44]:
print(square.__doc__)

Returns argument a is squared.

In [45]:
print?

In [46]:
# General Format

def some_function(argument1):
    """Summary or Description of the Function

    Parameters:
    argument1 (int): Description of arg1

    Returns:
    int:Returning value

   """

    return argument1

print(some_function.__doc__)

Summary or Description of the Function

    Parameters:
    argument1 (int): Description of arg1

    Returns:
    int:Returning value

In [48]:
def addition(arg1,arg2):
    """Summmary 
    
    Parameters:
        takes two args
    
    Returns:
        added values
    """
    print(arg1+arg2)

In [49]:
addition?

In [50]:
print(addition.__doc__)

Summmary

    Parameters:
        takes two args

    Returns:
        added values

In [106]:
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [11]:
help(math) # detailed information

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [51]:
print(addition.__doc__) # fun_name.__doc__

Summmary

    Parameters:
        takes two args

    Returns:
        added values

In [52]:
help(addition) # help(fun_name)

Help on function addition in module __main__:

addition(arg1, arg2)
    Summmary

    Parameters:
        takes two args

    Returns:
        added values

In [53]:
addition?

In [ ]:
python -m pydoc math

In [ ]:
py -m pydoc math.sqrt

In [ ]:
python -m pydoc

# Math Module

In [12]:
import math
print('\n======= Numerber-theoretic and representation functions =====\n')
print(math.ceil(24.1)) # --> move it forward returns int
print(math.floor(24.1))  # --> move it backwards returns int
print(math.copysign(1.0,-0.0)) # --> will copy the sign
print(math.fabs(-24.1),math.fabs(24.1)) # --> absolute value (either input -ve or +ve, result will be the distance that will always be positive) 
print(math.factorial(3)) # --> 3x2x1 = 6 , returns value error if input is negative or float
print(math.fsum([.1,.1,.1,.1,.1,.1,.1,.1,.1,.1]))
print(math.fsum([2+2])) #  an accurate floating point sum of values in the iterable, avoid precision errors and can take int as well as floats but will result in floats
print(math.gcd(4,2)) # greatest common divisor that can divide both
print(math.trunc(3.9)) # same as floor division

print('\n======= Power and Lograthemic functions =====\n')

print(math.exp(2)) # e = 2.718281 raise to the power x, where x is input
print(math.log(1)) # returns natural log as float type answer
print(math.log(2)/math.log(10))
print(math.pow(2,3)) # power x raise to the power y (float)
print(math.sqrt(4)) # square root (float)

======= Numerber-theoretic and representation functions =====

25
24
-1.0
24.1 24.1
6
1.0
4.0
2
3

======= Power and Lograthemic functions =====

7.38905609893065
0.0
0.30102999566398114
8.0
2.0

In [54]:
import math

In [58]:
math.ceil(24.1)

25

In [59]:
math.floor(24.1)

24

In [60]:
math.fabs(-24.1)

24.1

In [62]:
math.factorial(4)

24

In [66]:
print(math.fsum([.1,.1,.1,.1,.1,.1,.1,.1,.1,.1]))

1.0

# Datetime Module

In [107]:
# dateutil library to be used
import datetime

In [108]:
# datetime is a class
# today() is a function
# the default format of datetime is YYYY-MM-DD
print(datetime.date.today())

2019-07-27

In [109]:
print(datetime.date.today())

2019-07-27

In [110]:
current_datetime = datetime.date.today() # today function for today's date
current_datetime

datetime.date(2019, 7, 27)

In [114]:
current_datetime
print(current_datetime.month)

7

In [115]:
print(current_datetime.year)
print(current_datetime.month)
print(current_datetime.day)

2019
7
27

In [20]:
print(current_datetime.strftime("%d %b, %Y")) # must be written as string

20 Jul, 2019

In [76]:
current_datetime

datetime.date(2019, 7, 20)

In [75]:
current_datetime.strftime('%d %b, %Y') # b == month

'20 Jul, 2019'

In [122]:
current_datetime.strftime('%A')

'Saturday'

In [123]:
print(current_datetime.strftime("%Y, %b, %d"))

2019, Jul, 27

In [22]:
print(current_datetime.strftime("%y")) # two digit year
print(current_datetime.strftime("%a")) # short day of the week
print(current_datetime.strftime("%A")) # full spelling of the day 
print(current_datetime.strftime("%B")) # Month in written form

19
Sat
Saturday
July

In [23]:
# strftime will be connected with current date as a dating format
print(current_datetime.strftime("Please be our guest at Axiom on first %A, after %d %b of %Y"))

Please be our guest at Axiom on first Saturday, after 20 Jul of 2019

In [24]:
birthday = input("Enter your birthday! (dd/mm/yyyy)")
# datetime module --> datetime class --> strptime function
# date format should comply with the format defined in the code or else, the code will crash
birthday = datetime.datetime.strptime(birthday,"%d/%m/%Y").date()  # !!! focus on the syntax, hint: it's strp not strf and it's %m not %b !!!
#                                     variable but can take strings in date format too
print("Your birth month is", birthday.strftime("%B"))

Enter your birthday! (dd/mm/yyyy)15/08/1994
Your birth month is August

In [82]:
birthday = input("Enter your birthday! (dd/mm/yyyy)")
birthday = datetime.datetime.strptime(birthday,'%d/%m/%Y' ).date()

Enter your birthday! (dd/mm/yyyy)20/07/2019

In [83]:
birthday.strftime('%b')

'Jul'

In [134]:
# Next birthday calculation

current_datetime = datetime.date.today()
next_birthday = datetime.datetime.strptime('09/06/2019',"%m/%d/%Y").date()
difference = next_birthday - current_datetime 
print(difference.days)

41

In [113]:
current = datetime.date.today()
next_birthday = datetime.datetime.strptime('08/15/2019', '%m/%d/%Y').date()
difference = next_birthday - current

In [114]:
difference

datetime.timedelta(days=26)

In [26]:
# timedelta allows a user to specify time so that you can later ADD or SUBSTRACT from date

# !!! it can be used to set expiries!!!!

print(current_datetime + datetime.timedelta(days=15))

print(current_datetime + datetime.timedelta(hours=15))

2019-08-04
2019-07-20

In [93]:
current- datetime.timedelta(days=10)

datetime.date(2019, 7, 10)

In [27]:
current_time = datetime.datetime.now()
print(current_time)
print(current_time.hour)
print(current_time.minute)
print(current_time.second)

2019-07-20 12:21:03.305328
12
21
3

In [138]:
current_time = datetime.datetime.now()
current_time.second

4

In [28]:
#time formatting
currentTime = current_time
currentTime = datetime.datetime.strftime(currentTime, "%H:%M") 
# H for 24 and I for 12 hours clock
# p for AM or PM
# P for am or pm
# m for minutes
# S for seconds
print(currentTime)

12:21

In [141]:
print(current_datetime - datetime.timedelta(days=1))

2019-07-26