# PRINT

The print function in Python is a function that outputs to your console window whatever you say you want to print out.
At first blush, it might appear that the print function is rather useless for programming, 
but it is actually one of the most widely used functions in all of python.
This means that whenever you write Python code, print always means that it will print the result.

In [1]:
print('Hello Python!')

Hello Python!

In [2]:
name = "Shahzad Ahsan"
name = 'Hamza Khan'
#name Shahzad Ahsan will be over-ride by Hamza Khan.
print(name)

Hamza Khan

In [3]:
num = "Pakistan Zindabad"
print(num)

#Type function refers the type of variable weather it is string , integer or float.
var1 = 'abc' 
var2 = 123
var3 = 5.34 
print(type(var1))
print(type(var2))
print(type(var3))

Pakistan Zindabad
<class 'str'>
<class 'int'>
<class 'float'>

# Over-ride

In [4]:
message = "Good Evening"
print(message)
message = 'How are you all?'
print(message)

# old message will get over-ride by the new one.

Good Evening
How are you all?

# Title Case

### What is title case in python?

##### Python String Title method. 
##### Title function in python is the Python String Method which is used to convert the first character 
##### in each word to Uppercase and remaining characters to Lowercase in string and returns new string. ... 
##### str.Title() 
##### parameters:str is a valid string which we need to convert.

In [5]:
First_name = "muhammad"
print(First_name.title())

Muhammad

# Lower Case

### What is lower case in python?

##### In Python, lower() is a built-in method used for string handling. 
##### The lower() methods returns the lowercased string from the given string. 
##### It converts all uppercase characters to lowercase. If no uppercase characters exist, it returns the original string.

In [6]:
Middle_name = 'HaMZa'
print(Middle_name.lower())

hamza

# Upper Case

### What is upper case in python?

##### In Python, upper() is a built-in method used for string handling.
##### The upper() methods returns the uppercased string from the given string.
##### It converts all lowercase characters to uppercase.
##### If no lowercase characters exist, it returns the original string.

In [7]:
Last_name = "khan"
print(Last_name.upper())

KHAN

# Variables for Numbers

In [8]:
number = 120
print(number)

120

## Add number to a varibale

In [9]:
num_1 = 150 
print(num_1 + 20)

170

## Adding variables of number together

### Note:

###### While adding numbers , if one number will be float the output will be float.

In [10]:
num_1 = 20
num_2 = 30 
num_3 = 40
print(num_1 + num_2 + num_3)

90

In [11]:
a = 2
b = 3.5
c = 2
total = a + b + c
print(total)

7.5

###### Perform some mathematics operations on variables.

In [12]:
num1 = 5
num2 = 4
num3 = 2
num4 = 7
num5 = 6
num6 = 10
total = (num1 * num2) + (num3 * num4) - num6 
print(total)

24

# Type Casting

In [13]:
num = 10
another_num = 1.9
total = num + another_num
print(int(total)) #type casting

11

In [14]:
# int to string
age = 21
message = "Happy " + age + "rd Birthday!"
#It must be show error because integer and string can never be concatenate with each other.
# To come out from this error we have to type cast "age" into string.
#for eg:
# message = "Happy" + str(age) + "rd Birthday!"
print(message)

TypeError: must be str, not int

In [15]:
age = 21
message = "Happy " + str(age) + "rd Birthday!"
print(message)

Happy 21rd Birthday!

# Concatenating text strings

In [16]:
FirstName = 'syEd'
MiddleName = 'zohAib'
LastName = 'owAiS'
full_name = FirstName + " " + MiddleName + " " + LastName
print(full_name)
print(full_name.title())
print(full_name.lower())
print(full_name.upper())

syEd zohAib owAiS
Syed Zohaib Owais
syed zohaib owais
SYED ZOHAIB OWAIS

In [17]:
F_name =  'Harley'
L_name = 'Davidson'
Full_name = F_name + " " + L_name
print("I love to ride " + Full_name + " .. ")

I love to ride Harley Davidson ..

# Math expressions: Unfamiliar operators

### Increment

In [18]:
age = 2
age = age + 1
#age += 1
print(age)

3

In [19]:
age = 12
age += 50
print(age)

62

### Decrement

In [20]:
age = 12
age -= 3
print(age)

9

### Modulus

In [21]:
age = 12
age %= 5
print(age)

2

#### Make a program that takes input from the user, and let us know whether the number is even or add...

In [1]:
#Taking user input
# user input is by-default is string.We are rapping it with integer.
num = int(input("Enter the number: ")) # rapping input in integer
# checking the condition
#if the reminder will be equal to zero , so the number will be even , else number will be odd.....
if num % 2 == 0:
    print("Number is even")
    
else:
    print("Number id odd")

Enter the number: 45
Number id odd

# Math expressions: Eliminating ambiguity

Ambuigity

In [2]:
c = 2 + 3*4
c

14

In [3]:
d = (2 + 3) * 4
d

20

# LIST

### What is list in python?

##### A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. 
##### Each element or value that is inside of a list is called an item. 
##### Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ] .

In [4]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
#index  =    0           1             2           3   
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

## Indexing in list

In [5]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0])
print(bicycles[3])

trek
specialized

In [6]:
names = ['ahsan' , 'ali' , 'fatima' , 'hamza' , 'nimra']
print(names[5])

# In this code names contains 4 element. and we are trying to get the 5 index value , so the error will be occur.

IndexError: list index out of range

##### Apply Title and Upper case on the element of the list , through indexing.....

In [7]:
cars = ['honda' , 'suzuki' , 'ferrari' , 'audi' , 'toyota']
print(cars[1].title())
print(cars[3].upper())

Suzuki
AUDI

## Negative Indexing

In [8]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[-1])
print(bicycles[-3])

specialized
cannondale

### Concatenate string with element of the list

In [9]:
cars = ['honda' , 'suzuki' , 'ferrari' , 'audi' , 'toyota']
message = "My favourite car is " + cars[3].title() + "."
print(message)

My favourite car is Audi.

# Changing, Adding, and Removing Elements

In [10]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

### Replacing

In [11]:
motorcycles[2] = 'harley davidson'
print(motorcycles)

['honda', 'yamaha', 'harley davidson']

### APPEND : Add element to the end of the list

###### Append: Adds its argument as a single element to the end of a list. ... NOTE: A list is an object. 
##### If you append another list onto a list, the first list will be a single object at the end of the list.

In [12]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles.append('ducati') #append will add in the end of the list.
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

In [13]:
cities = ["Atlanta", "Baltimore", "Chicago","Denver", "Los Angeles", "Seattle"]
cities.append("New York")
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York']

In [14]:
#Add element to the empty list...

words = []

words.append('I')
words.append('Love')
words.append('Ada')
words.append('Lovelace')


print(words)

['I', 'Love', 'Ada', 'Lovelace']

## Insert

##### insert() is an inbuilt function in Python that inserts a given element at a given index in a list.

### How do you use insert in Python?

##### 1- The insert() function takes two parameters: index - position where an element needs to be inserted. ...
##### 2- Return Value from insert() The insert() method only inserts the element to the list. It doesn't return anything; returns None .

In [15]:
friends = ['hamza', 'ali' , 'nouman' , 'arsalan' , 'azhar' , 'jahanzaib']
friends.insert(0 , 'aman')
print(friends)

['aman', 'hamza', 'ali', 'nouman', 'arsalan', 'azhar', 'jahanzaib']

In [16]:
friends.insert(3 , 'taha')
# index 199 is not in the list , so it will appear in the end of the list..
friends.insert(199 , 'hassan')
print(friends)

['aman', 'hamza', 'ali', 'taha', 'nouman', 'arsalan', 'azhar', 'jahanzaib', 'hassan']

## Remove

##### 1- The remove() method takes a single element as an argument and removes it from the list. ...
##### 2- Return Value from remove() The remove() method only removes the given element from the list. ...

### How do I remove something from a list in Python?

##### The remove() method removes the item which is passed as an argument. 
##### If you need to delete elements based on the index (like the fourth element or last element), 
##### you can use the pop() method. 
##### Also, you can use del statement to remove items from a list or delete an entire list.

In [17]:
name = ['laiba' , 'umer' , 'rabia' , 'hamza' ,'umer', 'fatima' , 'ahmed']
print(name)
name.remove('umer')
print(name)

['laiba', 'umer', 'rabia', 'hamza', 'umer', 'fatima', 'ahmed']
['laiba', 'rabia', 'hamza', 'umer', 'fatima', 'ahmed']

In [18]:
cars = ['honda' , 'suzuki' , 'audi' , 'rolls royce' , 'mercedes-benz']
print(cars)
too_exp = 'rolls royce'
cars.remove(too_exp)
print(cars)
print('\nA '+ too_exp.title() + ' is to expensive for me')

['honda', 'suzuki', 'audi', 'rolls royce', 'mercedes-benz']
['honda', 'suzuki', 'audi', 'mercedes-benz']

A Rolls Royce is to expensive for me

## POP

###### pop() is an inbuilt function in Python that removes and returns last value from the list or the given index value. ... 
##### If index is not given, then last element is popped out and removed.

### What does pop () do in Python?

###### If no index is specified, a.pop() removes and returns the last item in the list. 
###### (The square brackets around the i in the method signature denote that the parameter is optional,
###### not that you should type square brackets at that position. 
###### You will see this notation frequently in the Python Library Reference.)

In [19]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

popped_motorcycle = motorcycles.pop()
print(motorcycles)

print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

### POP through index...

In [20]:
motorcycles = ['honda', 'yamaha', 'suzuki']
last_owned = motorcycles.pop(0)
print("The last motorcycle I owned was a " + last_owned.upper() + ".")

The last motorcycle I owned was a HONDA.

# Sort

##### The sort() method sorts the elements of a given list in a specific order - Ascending or Descending. 
##### The syntax of sort() method is: list.sort(key=..., reverse=...) 
##### Alternatively, you can also use Python's in-built function sorted() for the same purpose.

In [21]:
friends = ['zohiab' , 'umer' , 'ali' , 'hamza' , 'jahanzaib' , 'ahmed' , 'ahsan']
friends.sort()
print(friends)

['ahmed', 'ahsan', 'ali', 'hamza', 'jahanzaib', 'umer', 'zohiab']

In [22]:
friends = ['zohiab' , 'umer' , 'ali' , 'hamza' , 'jahanzaib' , 'ahmed' , 'ahsan']
# By-default reverse is False ,but when it will be True it will generate elements in the descending order..
friends.sort(reverse=True)
print(friends)

['zohiab', 'umer', 'jahanzaib', 'hamza', 'ali', 'ahsan', 'ahmed']

# Reverse

###### Python's built-in reversed() function allows you to create a reverse iterator for an existing list or sequence object. 
###### This is a flexible and clean solution that relies on some advanced Python features—but 
###### it remains readable due to the clear naming of the reversed() function.

In [23]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)
cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

# Concatenate list into list

In [24]:
cities = cities + ["Dubuque", "New Orleans"]
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York', 'Dubuque', 'New Orleans']

## Concatenate empty list into list

In [25]:
todays_tasks = []
todays_tasks = todays_tasks + ["Walk dog", "Buy groceries"]
print(todays_tasks)

['Walk dog', 'Buy groceries']

# Slicing a list

###### Lists have a default bit of functionality when slicing. 
###### If there is no value before the first colon, it means to start at the beginning index of the list. 
###### If there isn't a value after the first colon, it means to go all the way to the end of the list.

In [26]:
players = ['afridi', 'misbah', 'malik', 'amir', 'ajmal']
print(players[0:3])

['afridi', 'misbah', 'malik']

In [27]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[1:6])

['martina', 'michael', 'florence', 'eli']

In [28]:
players = ['charles', 'martina', 'dukky', 'chris', 'Rika']
print(players[:4])

['charles', 'martina', 'dukky', 'chris']

In [29]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[2:])

['michael', 'florence', 'eli']

In [30]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[-3:])

['michael', 'florence', 'eli']

# IF AND ELSE

In [31]:
name = input("Enter your name : ").upper()
if name == 'SHAHZAD':
    print('Your name is ' + name)
else:
    print("NO")

Enter your name : ali
NO

In [32]:
weight = float(input("How many pounds does your suitcase weigh? "))
if weight > 50:
    print("There is a $25 charge for luggage that heavy.")
    
print("Thank you for your business.")

How many pounds does your suitcase weigh? 54
There is a $25 charge for luggage that heavy.
Thank you for your business.

In [33]:
temperature = float(input('What is the temperature? '))
if temperature >= 70:
    print('Wear shorts.')
else:
    print('Wear long pants.')

What is the temperature? 78
Wear shorts.

In [34]:
x = float(input("Enter yours marks out of 100 :"))
if x >= 90:
    print("Grade A*")
elif x >= 80:
    print('Grade A')
elif x >= 70:
    print("Grade B")
elif x >= 60:
    print('Grade C')
elif x >= 50:
    print('Grade D')
else:
    print('Sorry! You are fail.')

Enter yours marks out of 100 :2
Sorry! You are fail.

# MARKS SHEET

In [35]:
English = float(input("\t\t\t\tEnter your English marks: "))
Maths = float(input("\t\t\t\tEnter your Maths marks: "))
Urdu = float(input("\t\t\t\tEnter your Urdu marks: "))
Science = float(input("\t\t\t\tEnter your Science marks: "))
Programming = float(input("\t\t\t\tEnter your Programming marks: "))
grade = " "

total = English + Urdu + Maths + Programming + Science
print("\n\t\t\t\t***YOUR TOTAL MARKS ARE " + str(total)+ " out of 500***")

percentage = total / 500 * 100
roundOff = round(percentage,2)

if percentage >= 90:
    grade= "A+"
    
    
elif percentage >= 80:
    grade = "A"
    
    
elif percentage >= 70:
    grade = "B"
    
    
elif percentage >= 60:
    grade = "C"
    
elif percentage >= 50:
    grade = "D"
    
    
else:
    grade = 'F'
    print("\t\t\t\tSorry! You can't promote to another class.")
    

    
print("\n\t\t\t\tYour total marks are: " + str(total) + "\n\t\t\t\tYour percentage is " + str(roundOff) + "%\n\t\t\t\tYour grade is " + str(grade) +".")

				Enter your English marks: 54
				Enter your Maths marks: 56
				Enter your Urdu marks: 76
				Enter your Science marks: 88
				Enter your Programming marks: 88

				***YOUR TOTAL MARKS ARE 362.0 out of 500***

				Your total marks are: 362.0
				Your percentage is 72.4%
				Your grade is B.

# ROUND OFF

In [36]:
a = 34.001
b = 56.45
c = 78.21
d = 76.87
total = a+b+c+d
print(total)
print(round(total , 1))
print(round(total , 2))

245.531
245.5
245.53

# CHECKING CONDITIONS

###### Make a program to go for PSL final. That accepts Permission , tickets and age as user input.
###### If age is greater then 18 and have his wife permission and has a tickets.Print a statment "you will be allow for the match..." , 
###### otherwise print a statment "You are not allowed for the match..."

In [37]:
permission = input("Ask from your wife.\nIs she allow you to go stadium? [Y/N] ").upper()
tickets = input("Do you have tickets: [Y/N] ").upper()
age = int(input("Enter your age: "))

if age >= 18 and permission == "Y" and tickets == "Y":
    print("\nYou are allow for the match")
    
else:
    print("\nYou are not allowed...\nGo to home and watch TV..")

Ask from your wife.
Is she allow you to go stadium? [Y/N] y
Do you have tickets: [Y/N] n
Enter your age: 67

You are not allowed...
Go to home and watch TV..

###### Make a program for vote casting that takes input from the user his age , if age is greater then 18 then it will ask,
###### Do you have CNIC , and which city you belongs to if CNIC is yes and city is not equal to Lahore. 
###### Print an Statment "Go and Cast your vote".
###### if age is less then 18 ,  print "You are not allowed"..

In [38]:
print("\t**CASTING VOTE**")
age = int(input("Enter your age: "))
remaingAge = 18 - age
if age >= 18:
    cnic = input("Do you have your ID card with you right now? [y/n]")
    city = input("Please Enter your city name here: ")
    if cnic == 'y' or city != 'lahore':
        print("\nGo and cast your vote.\nHope for your positive response.")
    else: 
        print("Sorry! you are not allowed to cast your vote here.")
else:
    print("You are under age.")
    print("You will be allowed after " + str(remaingAge) + " years.")

	**CASTING VOTE**
Enter your age: 88
Do you have your ID card with you right now? [y/n]y
Please Enter your city name here: karachi

Go and cast your vote.
Hope for your positive response.

In [39]:
gender = input("Enter your gender: ")
age = int(input("Enter your age : "))
cnic = input("Do you have your cnic: [y/n] ")
city = input("Enter your city name: ")

if (gender == 'male' or age >= 18) and (cnic == 'y' or city == 'karachi'):
    print("\nYou can go now!! ")
else:
    print("\nWe are sorry.You are not allowed.")

Enter your gender: male
Enter your age : 12
Do you have your cnic: [y/n] y
Enter your city name: karachi

You can go now!!