# if Statment

In [2]:
a= 10
b=20

In [6]:
a!=b

True

In [ ]:
a=10
b=20
if a < b:
    print("if block")
    
else:
    print("else block")

In [2]:

temp = int(input("Enter the temperature today"))# type casting

if temp>30:
    print("its hot weather today")
else:
    print("normal weather")

Enter the temperature today34
its hot weather today

# Nested If's

In [5]:
cnic = input("do you  have cnic?")
if cnic=='yes':
    print("ander chalay jaen")
    nameinlist = input("is my name in list?")
    if nameinlist=='yes':
        print("please caste your vote")
    else:
        print("you can not caste vote")

else:
    print("you cant caste vote")

do you  have cnic?yes
ander chalay jaen
is my name in list?no
you can not caste vote

In [ ]:
education@piaic.org

# if elif else

In [13]:
marks = int(input("Enter your marks :"))
grade = " "
if marks>=90:
     grade = "A*"
elif marks>=80:
     grade = "A"
elif marks>=70:
     grade="B"
elif marks>=60:
     grade = "C"
elif marks>=50:
     grade = "D"
else:
     grade ="Ungraded"
    
print(f"your marks are {marks} and your grade is {grade}")

Enter your marks :45
your marks are 45 and your grade is Ungraded

In [16]:
cnic = input("do you  have cnic?")
# this is a comment 

nameinlist = input("is my name in list?")

if (cnic=='yes') and (nameinlist=='yes'):
    print("caste your vote")# this is  a print function
                            # this empty line
else:
    '''dfkdfkdjfkdfkjdkjfdkfjkdjfkd
    jfkdjfkdjfkjdfkjd
    kfjdkjfkd
    jfkjdfkjd
    
    k
    
    fjdkjf'''
    print("you can not")

do you  have cnic?no
is my name in list?yes
you can not

# list

In [19]:
#print("helo")

In [20]:
# print("helo")
# print("helo")
# print("helo")
# print("helo")
# print("helo")

helo
helo
helo

In [22]:
students = ["asad", 'nasir', 'aisha', 'fatima']
index         0        1        2        3

['asad', 'nasir', 'aisha', 'fatima']

In [23]:
students[1]

'nasir'

In [24]:
students[4]

IndexError: list index out of range

In [25]:
list1 = ['strig', 34, 34.6, True]
list1

['strig', 34, 34.6, True]

In [26]:
students

['asad', 'nasir', 'aisha', 'fatima']

In [29]:
students.append("hussain")
students

['asad', 'nasir', 'aisha', 'fatima', 'hussain', 'hussain', 'hussain']

In [30]:
students.insert(3,"abcd")

In [31]:
students

['asad', 'nasir', 'aisha', 'abcd', 'fatima', 'hussain', 'hussain', 'hussain']

In [32]:
del students[3]

In [33]:
students

['asad', 'nasir', 'aisha', 'fatima', 'hussain', 'hussain', 'hussain']

In [34]:
students[2]="komal"

In [35]:
students

['asad', 'nasir', 'komal', 'fatima', 'hussain', 'hussain', 'hussain']

In [1]:
x = int(43.55+2/2)
print(x)

44

In [2]:
lust = [2, 33, 222, 14, 25]

In [5]:
print(lust)

[2, 33, 222, 14, 25]

In [10]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]
names2[0] = 'Alice'
names3[1] = 'Bob'
sum = 0
for ls in (names1, names2, names3):
    if ls[0] == 'Alice':
         sum += 1
    if ls[1] == 'Bob':
          sum += 10
print(sum)

12

In [11]:
list1 = [0.5 * x for x in range(0, 4)]
print(list1)

[0.0, 0.5, 1.0, 1.5]

In [14]:
a=[13,56,17] 
a.append([87]) 
a.extend([45,67]) 
print(a)

[13, 56, 17, [87], 45, 67]

In [17]:
w="hello" 
v=('a', 'e', 'i', 'o', 'u')
[x for x in v if w in v]

[]

In [24]:
[(2**x) for x in range(1, 13)]

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

In [25]:
[j for i in range(2,8) for j in range(i*2, 50, i)]

[4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 14,
 21,
 28,
 35,
 42,
 49]