In [14]:
for i in "my name is Athar".split():
    print(i)
    for j in i:
        print(j)

my
m
y
name
n
a
m
e
is
i
s
Athar
A
t
h
a
r

In [8]:
a=False
#i="Athar Rasool"
while a==True:
    print('T')
else:
    print('F',i)

F Athar Rasool

In [44]:
for i in range(3):
        for j in range(2):
            print("*"*5)

*****
*****
*****
*****
*****
*****

In [1]:
import numpy as np

In [52]:
x=np.arange(20).reshape(5,4)
x

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [60]:
x=np.array([33,434,43,"sda","dsad"])

In [68]:
x[3]=="sdf"

False

In [69]:
x

array(['33', '434', '43', 'sda', 'dsad'], dtype='<U11')

In [73]:
a=[343]

print(type(a))
print(type(x))

<class 'list'>
<class 'numpy.ndarray'>

In [82]:
print(x[4])
print(np.array([33,434,43,"sda","dsad"])[4])

dsad
dsad

In [76]:
x[:]

array(['33', '434', '43', 'sda', 'dsad'], dtype='<U11')

In [91]:
p=range(4)
p1=np.arange(4)
p1

array([0, 1, 2, 3])

In [93]:
type(p1)

numpy.ndarray

In [95]:
import pandas as pd

In [106]:
pd.DataFrame({"Name":["Athar","Saad","Ashir","Asghar"],"Uni":["Kiet","Kiet","Kiet","Kiet"]})

     Name   Uni
0   Athar  Kiet
1    Saad  Kiet
2   Ashir  Kiet
3  Asghar  Kiet

In [124]:
arr= np.array([["athar "*i] for i in range(6)])
arr

array([[''],
       ['athar '],
       ['athar athar '],
       ['athar athar athar '],
       ['athar athar athar athar '],
       ['athar athar athar athar athar ']], dtype='<U30')

In [144]:
n = int(input("Enter names length: "))
names = np.array([' ' for i in range(n)],dtype=object)
for j in range(len(names)):
    print()
    names[j]=input(f"enter name {j+1}: ")
print('===============================')
for k in names:
    print(k)

Enter names length: 3

enter name 1: saad

enter name 2: asghar

enter name 3: ashir
===============================
saad
asghar
ashir

In [4]:
def Insert(LA,N,K,Item):
    j=N-1
    while(j>=K):
        LA[j+1]=La[j]
        j=j-1
    LA[K]=Item
    return N
def Array(LA,N):
    for i in range(N):
        print(LA[i],end=' ')
        
LA= np.array([0 for i in range(50)])
N=int(input("Enter array length: "))
for i in range(N):
    LA[i]=int(input(f"Enter value of index {i}: "))
Array(LA,N)
K=int(input("Enter position where you want to add element "))
Item=int(input(f"Enter value of index "))
N=Insert(LA,N,K,Item)
Array(LA,N)

Enter array length: 3
Enter value of index 0: 1
Enter value of index 1: 2
Enter value of index 2: 3
1 2 3 Enter position where you want to add element 4
Enter value of index 5
1 2 3

In [12]:
x=np.array([1,2,3,4,5])

In [13]:
type(x)

numpy.ndarray

In [20]:
def printt():
    for i in range(len(x)):
        print(x[i])

In [21]:
arr = [1, 2, 3, 4, 5];     
n = 4;    
     

print("Original array: ");    
for i in range(0, len(arr)):    
    print(arr[i]),     
     

for i in range(0, n):    
    
    first = arr[0];    
        
    for j in range(0, len(arr)-1):    
        arr[j] = arr[j+1];    
            
    
    arr[len(arr)-1] = first;    
     
print();    
     

print("Array after left rotation: ");    
for i in range(0, len(arr)):    
    print(arr[i])

Original array:
1
2
3
4
5

Array after left rotation:
5
1
2
3
4

In [22]:
ar1=[[0 for i in range(5) ]]

In [23]:
ar1

[[0, 0, 0, 0, 0]]

In [3]:
x=np.array([[1,2,3],[4,5,6],[7,8,9]])

In [21]:
for i in range(len(x)):
    print(x[i,i])
    i+=1

print(x)

1
5
9
[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [25]:
x=np.arange(3,3)
for i in range(len(x)) for j in range():
    x[i]=int(input(f"Enter index {i}"))

In [27]:
import os    
import time    
    
board = [' ',' ',' ',' ',' ',' ',' ',' ',' ',' ']    
player = 1    
   
########win Flags##########    
Win = 1    
Draw = -1    
Running = 0    
Stop = 1    
###########################    
Game = Running    
Mark = 'X'    
   
#This Function Draws Game Board    
def DrawBoard():    
    print(" %c | %c | %c " % (board[1],board[2],board[3]))    
    print("___|___|___")    
    print(" %c | %c | %c " % (board[4],board[5],board[6]))    
    print("___|___|___")    
    print(" %c | %c | %c " % (board[7],board[8],board[9]))    
    print("   |   |   ")    
   
#This Function Checks position is empty or not    
def CheckPosition(x):    
    if(board[x] == ' '):    
        return True    
    else:    
        return False    
   
#This Function Checks player has won or not    
def CheckWin():    
    global Game    
    #Horizontal winning condition    
    if(board[1] == board[2] and board[2] == board[3] and board[1] != ' '):    
        Game = Win    
    elif(board[4] == board[5] and board[5] == board[6] and board[4] != ' '):    
        Game = Win    
    elif(board[7] == board[8] and board[8] == board[9] and board[7] != ' '):    
        Game = Win    
    #Vertical Winning Condition    
    elif(board[1] == board[4] and board[4] == board[7] and board[1] != ' '):    
        Game = Win    
    elif(board[2] == board[5] and board[5] == board[8] and board[2] != ' '):    
        Game = Win    
    elif(board[3] == board[6] and board[6] == board[9] and board[3] != ' '):    
        Game=Win    
    #Diagonal Winning Condition    
    elif(board[1] == board[5] and board[5] == board[9] and board[5] != ' '):    
        Game = Win    
    elif(board[3] == board[5] and board[5] == board[7] and board[5] != ' '):    
        Game=Win    
    #Match Tie or Draw Condition    
    elif(board[1]!=' ' and board[2]!=' ' and board[3]!=' ' and board[4]!=' ' and board[5]!=' ' and board[6]!=' ' and board[7]!=' ' and board[8]!=' ' and board[9]!=' '):    
        Game=Draw    
    else:            
        Game=Running    
    
print("Tic-Tac-Toe Game Designed By Sourabh Somani")    
print("Player 1 [X] --- Player 2 [O]\n")    
print()    
print()    
print("Please Wait...")    
time.sleep(3)    
while(Game == Running):    
    os.system('cls')    
    DrawBoard()    
    if(player % 2 != 0):    
        print("Player 1's chance")    
        Mark = 'X'    
    else:    
        print("Player 2's chance")    
        Mark = 'O'    
    choice = int(input("Enter the position between [1-9] where you want to mark : "))    
    if(CheckPosition(choice)):    
        board[choice] = Mark    
        player+=1    
        CheckWin()    
    
os.system('cls')    
DrawBoard()    
if(Game==Draw):    
    print("Game Draw")    
elif(Game==Win):    
    player-=1    
    if(player%2!=0):    
        print("Player 1 Won")    
    else:    
        print("Player 2 Won")

Tic-Tac-Toe Game Designed By Sourabh Somani
Player 1 [X] --- Player 2 [O]



Please Wait...
   |   |
___|___|___
   |   |
___|___|___
   |   |
   |   |
Player 1's chance
Enter the position between [1-9] where you want to mark : 3
   |   | X
___|___|___
   |   |
___|___|___
   |   |
   |   |
Player 2's chance
Enter the position between [1-9] where you want to mark : 1
 O |   | X
___|___|___
   |   |
___|___|___
   |   |
   |   |
Player 1's chance
Enter the position between [1-9] where you want to mark : 2
 O | X | X
___|___|___
   |   |
___|___|___
   |   |
   |   |
Player 2's chance
Enter the position between [1-9] where you want to mark : 3
 O | X | X
___|___|___
   |   |
___|___|___
   |   |
   |   |
Player 2's chance
Enter the position between [1-9] where you want to mark : 4
 O | X | X
___|___|___
 O |   |
___|___|___
   |   |
   |   |
Player 1's chance
Enter the position between [1-9] where you want to mark : 4
 O | X | X
___|___|___
 O |   |
___|___|___
   |   |
   |   |
Player 1's chance
Enter the position between [1-9] where you want to mark : 6
 O | X | X
___|___|___
 O |   | X
___|___|___
   |   |
   |   |
Player 2's chance
Enter the position between [1-9] where you want to mark : 7
 O | X | X
___|___|___
 O |   | X
___|___|___
 O |   |
   |   |
Player 2 Won

In [1]:
import numpy as np

In [2]:
player=np.array([[" " for i in range(3)] for j in range(2)],dtype=object)
for i in range(len(player)):
    for j in range(len(player[i])):
        player[i,j]=input(f"Enter team {i+1} player{j+1} name: ")
for i in range(len(player)):
    print(f"team {i+1} players name: ")
    for j in range(len(player[i])):
        print(player[i,j],end=" ")

Enter team 1 player1 name: saad
Enter team 1 player2 name: saad
Enter team 1 player3 name: saad
Enter team 2 player1 name: saad
Enter team 2 player2 name: saad
Enter team 2 player3 name: saad
team 1 players name:
saad saad saad team 2 players name:
saad saad saad

In [10]:
d3=np.array([[[ 0 for i in range(3)] for j in range(4)] for k in range(5)])
print(d3)

[[[0 0 0]
  [0 0 0]
  [0 0 0]
  [0 0 0]]

 [[0 0 0]
  [0 0 0]
  [0 0 0]
  [0 0 0]]

 [[0 0 0]
  [0 0 0]
  [0 0 0]
  [0 0 0]]

 [[0 0 0]
  [0 0 0]
  [0 0 0]
  [0 0 0]]

 [[0 0 0]
  [0 0 0]
  [0 0 0]
  [0 0 0]]]

In [17]:
numbers = np.array([
                        [
                            [1,1],
                            [2,2],
                            [3,3],
                                
                        ],
                        [
                            [4,4],
                            [5,5],
                            [6,6],
                                
                        ]
])
print(numbers[1,1,0])

5

In [23]:
d3 = np.array([[[0 for i in range(3)] for k in range(4)] for k in range(5)])
for i in range(len(d3)):
    for j in range(len(d3[i])):
        for k in range(len(d3[i,j])):
            print(d3[i,j,k],end=' ')
        print()
    print()

0 0 0
0 0 0
0 0 0
0 0 0

0 0 0
0 0 0
0 0 0
0 0 0

0 0 0
0 0 0
0 0 0
0 0 0

0 0 0
0 0 0
0 0 0
0 0 0

0 0 0
0 0 0
0 0 0
0 0 0

In [40]:
a=-1
x=np.array([[0 for i in range(9)]for k in range(9)])
for i in range(len(x)):
    a+=1
    for j in range(len(x[i])):
        x[i,j] = a+1
x

array([[1, 1, 1, 1, 1, 1, 1, 1, 1],
       [2, 2, 2, 2, 2, 2, 2, 2, 2],
       [3, 3, 3, 3, 3, 3, 3, 3, 3],
       [4, 4, 4, 4, 4, 4, 4, 4, 4],
       [5, 5, 5, 5, 5, 5, 5, 5, 5],
       [6, 6, 6, 6, 6, 6, 6, 6, 6],
       [7, 7, 7, 7, 7, 7, 7, 7, 7],
       [8, 8, 8, 8, 8, 8, 8, 8, 8],
       [9, 9, 9, 9, 9, 9, 9, 9, 9]])

In [52]:
table=0
i=1
for i in range(1,10):
    table+=1
    i=1
    for j in range(1,10):
        print(table*i,end =" ")
        i+=1
    print()
    print()

1 2 3 4 5 6 7 8 9

2 4 6 8 10 12 14 16 18

3 6 9 12 15 18 21 24 27

4 8 12 16 20 24 28 32 36

5 10 15 20 25 30 35 40 45

6 12 18 24 30 36 42 48 54

7 14 21 28 35 42 49 56 63

8 16 24 32 40 48 56 64 72

9 18 27 36 45 54 63 72 81

In [60]:

for i in range(len(m1)):
    for j in range(len(m2)):
        m3=m1*m2

ValueError: operands could not be broadcast together with shapes (2,4) (4,3)

In [57]:
res = m1 * np.transpose(np.array([m2,]*2))

ValueError: operands could not be broadcast together with shapes (2,4) (3,4,2)

In [71]:
m1=np.array([[1,2,3,4],[5,6,7,8]])
m2=np. array([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])
result = [[0,0,0,],
         [0,0,0,],
         ]

for i in range(len(m1)):

    for j in range(len(m2[0])):
        for k in range(len(m2)):
            result[i][j] += m1[i][k] * m2[k][j]
for r in result:
    print(r)

[70, 80, 90]
[158, 184, 210]