In [2]:

#List comprehension

list1=[x for x in "Athar"]
print(list1)

['A', 't', 'h', 'a', 'r']

In [2]:
var = [y for y in "Athar" ]
print(var)

['A', 't', 'h', 'a', 'r']

In [3]:
name = "ATHAR RASOOL"
alag = [m for m in name]
print(alag)

['A', 'T', 'H', 'A', 'R', ' ', 'R', 'A', 'S', 'O', 'O', 'L']

In [14]:
cars =("corolla","alto","audi")
for c in cars:
    if c != "alto":
        break

print(c)

corolla

In [19]:
list3=[]
list2=[1,2,3,4,5,6,7,8,9,10]
for m in list2:
    if (m == 1) or (m == 2) or (m == 3) or (m == 4):
        list3.append(m)
print(list3)

[1, 2, 3, 4]

In [21]:
code =[x for x in range(2,10+1)]
print(code)

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
table = 2
for x in range(0,11):
    print(f"{table} * {x} = {x*table}")

2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [28]:
[5*x for x in range(1,11)] # ASSAAN METHOD

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [31]:
table=[ f"{5} * {x} = {5*x}" for x in range (1,10) ]
print(table)

['5 * 1 = 5', '5 * 2 = 10', '5 * 3 = 15', '5 * 4 = 20', '5 * 5 = 25', '5 * 6 = 30', '5 * 7 = 35', '5 * 8 = 40', '5 * 9 = 45']

In [36]:
[(x,y) in range(1,11) y in range(1,11,2)]

SyntaxError: invalid syntax (<ipython-input-36-fc2b4e55802b>, line 1)

In [33]:
from random import *

print(random())

0.16075216143182602

In [44]:
# randint function takes two positional arguements
randint(1,10)
# random = 0-1
# randint = 1,10
#uniform(s,e) btw start and end float

2

In [55]:
varr = int(uniform(1,20)) #float b kr skte
varr

12

In [60]:
listt = [x for x in range(1,10)]
#shuffle
shuffle(listt)
print(listt)

[3, 9, 8, 6, 4, 7, 1, 2, 5]

In [63]:
listt

[3, 9, 8, 6, 4, 7, 1, 2, 5]

In [68]:
sample(listt,3)

[4, 3, 5]

In [85]:
list1=["sami","bilal badshah","sarfaraz","athar"]

In [86]:
sample(list1,1)

['sarfaraz']

In [83]:
#docstring

In [88]:
def addition(x,y):
    """chutya banaya jarha hai bc"""
    z = x+y
    return z

In [93]:
print(addition.__doc__)

chutya banaya jarha hai bc

In [94]:
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [95]:
help(addition)

Help on function addition in module __main__:

addition(x, y)
    chutya banaya jarha hai bc

In [97]:
addition?

In [98]:
#PY DOC python -m pydoc math.sqrt

In [110]:
import math
print(math.ceil(21.1)) #int mn ans dy round off krke

22

In [113]:
import math
print(math.floor(21.1)) #peche round off krega

21

In [115]:
import math
print(math.fabs(-21.1)) #absolute value (+) krdega (-) sy

21.1

In [118]:
import math
print(math.factorial(5)) #factorial nikalna

120

In [121]:
import math

print(math.fsum([.1,.1,.1,.1,.1,.1,.1]))

print(sum([.1,.1,.1,.1,.1,.1,.1]))

0.7000000000000001
0.7

In [122]:
# datetime module

In [126]:
import datetime
print(datetime.date.today())

2019-07-20

In [127]:
time = datetime.date.today()

In [128]:
time

datetime.date(2019, 7, 20)

In [134]:
print(f"fuck you {time}")

fuck you 2019-07-20

In [10]:
x = input("Enter birthday dd/mm/yy")
datetime.datetime.strftime(x,"%d/%m/%Y").date()
print(f" your month and year is ",x.strptime("%B  /%Y"))

Enter birthday dd/mm/yy06/09/2000

NameError: name 'datetime' is not defined

In [7]:
x.strftime("%B") # b ==> month

AttributeError: 'str' object has no attribute 'strftime'

In [150]:
bday = datetime.date.today()
nbday = datetime.datetime.strptime("6/9/2019","%d/%m/%Y")
print( nbday - bday )

TypeError: unsupported operand type(s) for -: 'datetime.datetime' and 'datetime.date'

In [151]:
# time delta delay kr deta time

In [153]:
time = datetime.timedelta(days=10)

In [158]:
import hello.world()

SyntaxError: invalid syntax (<ipython-input-158-66fde9b55a49>, line 1)

In [2]:
x = int(input("enter your fucking age you damn moron: "))
if x < 18:
    raise Exception as e:
        print("abhi bacha ha jaanu"+str(e))

SyntaxError: invalid syntax (<ipython-input-2-9999aaefdd6d>, line 3)